footer {
    width: 100%;
    background-color: var(--secondary-color);
    position: fixed;
    bottom: 0;


        .flecha {
        position: absolute; 
        top: -3.75rem;         
        right: 0.625rem;
        font-size: 3.125rem;

        i {
            color: var(--primary-color);
        }

        }
    .container {


        ul {
        display: flex;
        justify-content: center;
        

            li {
                padding: 20px 0;
                a {
                    text-decoration: none;
                    list-style: none;
                    color: white;
                    font-family: var(--primary-font);
                    font-size: 1rem;
                    margin-right: 0.3125rem;
                }
            }
        }
    }
}
