header {


    .contacto{
    padding-bottom: var(--gap);
    padding-top: var(--gap);
    background-color: var(--secondary-color);
    top: 0rem;
    width: 100%;

    ul{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1200px;

        li {
            list-style: none;

            i {
                color: var(--primary-color);
                font-size: 30px;
                padding: 0 50px;;
            }
        }
    }
}
}
header .container {
    position: sticky;
    width: 100%;

    img {
        width: 7.5rem;
        margin: 1.25rem 1.25rem;
    }

    .hamburger {
        cursor: pointer;
        width: 3.125rem;
        margin-top: 0.625rem;

    div {
        width: 35px;
        height: 0.125rem;
        background-color: var(--tertiary-color);
        margin: 0.75rem 0rem;
       
        
        }
    }
} 
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav {
    width: 100%;
    padding: 1.5rem 0;

    ul {
        list-style: none;
        text-align: center;
        a {
            display: inline-block;
            color: var(--tertiary-color);
            text-decoration: none;
            text-align: center;
            width: 90%;
            font-family: var(--primary-font);
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 0.625rem;
            padding: 1.25rem 1.25rem;
            border-bottom: 0.0625rem solid var(--tertiary-color);
            transition: 0.5s;
            
            

            &:hover {
                color: var(--primary-color);
                }
            }
        li:nth-child(4) a {
        border-bottom: none;
}
        }
    }