
.hero {
    height: 100vh;
    background-image:url(/images/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 0 1.8rem;
    
    h1 {
        font-family: var(--secondary-font);
        color: white;
        font-size: 2.25rem;
    }
    h4 {
        font-family: var(--primary-font);
        color: var(--primary-color);
        font-size: 1.25rem;
        padding: 1rem 0;
    }

    p {
        font-family: var(--primary-font);
        color: white;
        font-size: 1.20rem;
    }

    ul {
        display: flex;
        justify-content: flex-start;
        
        li {
            padding-right: 2.1875rem;

            i {
                color: white;
                font-size: 1.875rem;
            }
        }
    }
}

.boton {
    display: inline-block;
    padding: 1.125rem;
    margin: 0.9375rem 0;
    border: 0.0625rem solid var(--primary-color);
    text-decoration: none;
    color: white;
    font-family: var(--primary-font);
    background-color: var(--primary-color);
}