main {
    padding-top: 2.5rem;
    section{

        h2{
            font-family: var(--secondary-font);
            color: black;
            font-size: 1.875rem;
            text-align: center;
            align-items: center;

            span {
                color: var(--primary-color);
            }

        }
        .lineah2 {
            border-top: 0.125rem solid var(--primary-color);
            width: 22%;
            margin: 0 auto;
            margin-top: 0.625rem;
            position: relative;
            margin-bottom: 1.875rem;
            
            p.x{
            position: absolute;
            top: -0.5625rem;
            left: 50%;
            transform: translateX(-50%);
            font-family: var(--primary-font);
            font-weight: 700;
            color: var(--primary-color);
            text-align: center;
        }
        }
        .articulos {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-align: left;
            width: 100%;
            padding: 0 1.8rem;

        article {
            border-bottom: solid 0.09375rem rgb(179, 176, 176);
            margin-bottom: 1.5625rem;
        i {
            color: var(--primary-color);
            font-size: 1.25rem;
            border: solid 0.0625rem var(--primary-color);
            padding: 0.625rem; 
        }

        h3 {
            font-family: var(--primary-font);
            font-weight: 700;
            font-size: 1rem;
            padding-top: 0.625rem;
        }

        p {
            font-family: var(--primary-font);
            font-weight: 400;
            font-size: 1rem;
            padding-top: 0.625rem; 
            color: rgb(85, 85, 85);
            line-height: 1.25rem;
        }

        a {
            display: inline-block;
            text-decoration: none;
            color: var(--primary-color);
            font-family: var(--primary-font);
            font-weight: 700;
            margin-bottom: 0.9375rem;

            i {
                border: none;
                font-size: 0.75rem;
                transform: scaleX(1.5);

            }

        }

        #camion {
            transform: scaleX(-1);
        }

    }
        
    }
}
.aboutus {
    padding: 2.1875rem 1.8rem 8rem 1.8rem;
    

}
.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2.1875rem;

    

    .frame{
    border: solid 0.1875rem var(--primary-color);
    width: 93%;
    height: auto;
    transform: rotate(10deg);
    position: relative;
    margin-top: -2.375rem;

    

img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    transform: rotate(-10deg);
    
    
}

/* .frame2 {
    border: none;
    width: 100%;
    height: 89%;
    position: absolute;
    margin-top: -269px;
    
} */

    }
    h3 {
            font-family: var(--primary-font);
            font-weight: 700;
            font-size: 1rem;
            padding-top: 3.125rem;
        }
    h4 {
        font-family: var(--primary-font);
        color: var(--primary-color);
        font-weight: 400;
        font-size: 0.9375rem;
        padding-top: 0.625rem;
    }
    p {
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 1rem;
        padding-top: 0.625rem; 
        color: rgb(85, 85, 85);
        line-height: 1.25rem;
        }
}
}
