@media(max-width: 37.5rem){
header .contacto ul li span {
        display: none;
        }

}
@media(max-width: 48rem){
header .contacto ul li span {
        display: none;
    }
}
@media(min-width: 48.0625rem) {

header .contacto {
    

    ul {
        display: flex;
        justify-content: space-between;
        
    li {

        a{
        color: white;
        text-decoration: none;
        

        i {
            font-size: 16px;
        }

        span {
                font-family: var(--primary-font);
                font-size: 12px;
                
            }
           }
        }
    }
}
header .hamburger {
        display: none;
}
header .container {
    
}
header nav {
        width: calc(100% - 12.5rem);
        padding: 0.60rem 0px;

        ul {
            display: flex;
            justify-content: end;

            li {
                margin: 0rem 0.3125rem;

                a {
                    border-bottom: none;
                    padding: 10px 10px;
                }
            }
        }
    }

}